.text-bra-green {
  color: var(--bra-green);
}
.bg-bra-green {
  background-color: var(--bra-green);
  color: white;
}
.text-bg-bra-green {
  background-color: var(--bra-green);
  color: white;
}

.text-bra-green-dark {
  color: var(--bra-green-dark);
}
.bg-bra-green-dark {
  background-color: var(--bra-green-dark);
}
.text-bg-bra-green-dark {
  background-color: var(--bra-green-dark);
  color: white;
}

.text-bra-green-light {
  color: var(--bra-green-light);
}
.bg-bra-green-light {
  background-color: var(--bra-green-light);
}
.text-bg-bra-green-light {
  background-color: var(--bra-green-light);
  color: white;
}

.text-bra-green-light-50 {
  color: var(--bra-green-light-50);
}
.bg-bra-green-light-50 {
  background-color: var(--bra-green-light-50);
}
.text-bg-bra-green-light-50 {
  background-color: var(--bra-green-light-50);
  color: var(--text-color);
}

.text-bra-green-light-25 {
  color: var(--bra-green-light-25);
}
.bg-bra-green-light-25 {
  background-color: var(--bra-green-light-25);
}
.text-bg-bra-green-light-25 {
  background-color: var(--bra-green-light-25);
  color: var(--text-color);
}

.text-bra-sliver {
  color: var(--bra-sliver);
}
.bg-bra-sliver {
  background-color: var(--bra-sliver);
}
.text-bg-bra-sliver {
  background-color: var(--bra-sliver);
  color: var(--text-color);
}

.text-bra-sliver-light {
  color: var(--bra-sliver-light);
}
.bg-bra-sliver-light {
  background-color: var(--bra-sliver-light);
}
.text-bg-bra-sliver-light {
  background-color: var(--bra-sliver-light);
  color: var(--text-color);
}

.text-bra-grey {
  color: var(--bra-grey);
}
.bg-bra-grey {
  background-color: var(--bra-grey);
}
.text-bg-bra-grey {
  background-color: var(--bra-grey);
  color: white;
}

.text-bra-grey-light {
  color: var(--bra-grey-light);
}
.bg-bra-grey-light {
  background-color: var(--bra-grey-light);
}
.text-bg-bra-grey-light {
  background-color: var(--bra-grey-light);
  color: white;
}

.text-bra-grey-light-20 {
  color: var(--bra-grey-light-20);
}
.bg-bra-grey-light-20 {
  background-color: var(--bra-grey-light-20);
}
.text-bg-bra-grey-light-20 {
  background-color: var(--bra-grey-light-20);
  color: var(--text-color);
}

.text-bra-grey-interactive {
  color: var(--bra-grey-interactive);
}
.bg-bra-grey-interactive {
  background-color: var(--bra-grey-interactive);
}
.text-bg-bra-grey-interactive {
  background-color: var(--bra-grey-interactive);
  color: white;
}
