h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 8px; /* todo: change it */
}
h1, .h1 {
  font-size: 43px;
  margin-bottom: 30px;
}
h2, .h2 {
  font-size: 36px;
}
h3, .h3 {
  font-size: 28px;
}
h4, .h4 {
  font-size: 22px;
}
h5, .h5 {
  font-size: 18px;
}
h6, .h6 {
  font-size: 15px;
}
.text-long {
  font-size: 18px;
}
.text-short {
  font-size: 15px;
}
/* tablet */
@media screen and (max-width: 872px) {
  h1, .h1 {
    font-size: 36px;
  }
  h2, .h2 {
    font-size: 32px;
  }
}