/* App header */
.app-header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--bra-green-dark);
}
.app-header__container {
  gap: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
/* tablet */
@media screen and (max-width: 1181px) {
  .app-header__container {
    padding-right: 8px;
    padding-left: 4px;
  }
}
.app-header__logo-link {
  display: block;
  padding: 0 10px;
}
.app-header__logo {
  display: block;
  height: 18px;
}


/* Desktop top navigation */
.top-nav {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.top-nav__button {
  --fade-duration: 0.15s;
}
.top-nav__button::before {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: -43px;
  left: 50%;
  border-width: 0 13px 15px 13px;
  border-style: solid;
  border-color: transparent transparent var(--bra-green-light-50) transparent;

  /* hide transition */
  content: '';
  transition: opacity var(--fade-duration) 0s ease-out, visibility 0s var(--fade-duration);
  transform: translateX(-50%);
}
.top-nav__button--open::before {
  /* show transition */
  opacity: 1;
  visibility: visible;
  transition: opacity var(--fade-duration) 0s ease-out, visibility 0s 0s;
}
.top-nav__popup {
  translate: -50%;
  display: flex;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 43px;
  padding: 15px 20px;
  border: 2px solid var(--bra-green-light-50);
  border-radius: 2px;
  color: var(--text-color);
  font-weight: 400;

  /* hide transition */
  text-align: left;
  background-color: white;
  transition: opacity var(--fade-duration) 0s ease-out, visibility 0s var(--fade-duration);
}
.top-nav__button--open .top-nav__popup {
  /* show transition */
  opacity: 1;
  visibility: visible;
  transition: opacity var(--fade-duration) 0s ease-out, visibility 0s 0s;
}
.top-nav__section {
  min-width: 184px;
  padding: 10px;
}
.top-nav__section-title {
  margin-bottom: 12px;
  border-bottom: 2px solid var(--bra-green-dark);
  color: var(--bra-green-dark);
  line-height: 1.4;
}
.top-nav__section-item {
  display: block;
  padding: 4px 3px;
  border-bottom: 1px solid #E6EEEE;
  color: var(--bra-green);
  text-decoration: none;
  text-wrap: balance;
}
.top-nav__section-item:last-child {
  border-bottom: none;
}
/* tablet */
@media screen and (max-width: 1181px) {
  .top-nav {
    display: none;
  }
}

/* Language switch */
.top-nav__button--lang {
  margin-left: 22px;
}
.top-nav__button--lang::after {
  z-index: 1;
  position: absolute;
  left: -12px;
  width: 2px;
  height: 20px;
  border-radius: 1px;
  content: '';
  background-color: #327571;
}
.top-nav__button--lang icon {
  margin-bottom: -1px;
}
.top-nav__popup--lang {
  translate: 0;
  right: -21px;
  left: auto;
}
.top-nav__flag {
  margin-right: 2px;
}
/* tablet */
@media screen and (max-width: 1181px) {
  .top-nav__button--lang {
    margin-left: 0;
  }
  .top-nav__button--lang::after {
    display: none;
  }
  .top-nav__popup--lang {
    translate: 0;
    right: 0px;
    left: auto;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .top-nav__popup--lang {
    z-index: 1000;
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    margin-top: 0;
    border: none;
  }
  .top-nav__section--lang {
    width: 100%;
    padding: 2px 0;
  }
  .top-nav__section-title--lang {
    margin-bottom: 0;
    font-size: 20px;
  }
  .top-nav__section-item--lang {
    padding: 13px 30px;
  }
}


/* Hamburger */
.hamburger {
  display: none;
  position: relative;
  width: 48px;
  height: 48px;
}
/* tablet */
@media screen and (max-width: 1181px) {
  .hamburger {
    display: block;
  }
}
.hamburger__line {
  position: absolute;
  left: 13px;
  width: 22px;
  height: 4px;
  border-radius: 1px;
  background-color: currentColor;
  transition: transform 0.1s, opacity 0.1s;
}
.hamburger__line:nth-child(1) {
  top: 14px;
}
.hamburger__line:nth-child(2) {
  top: 22px;
}
.hamburger__line:nth-child(3) {
  top: 30px;
}
.hamburger--open .hamburger__line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger--open .hamburger__line:nth-child(2) {
  opacity: 0;
}
.hamburger--open  .hamburger__line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Mobile top navigation */
.top-nav-mobile {
  --fade-duration: 0.15s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 0;

  /* hide transition */
  width: 100%;
  height: calc(100vh - 70px);
  background-color: white;
  transition: opacity var(--fade-duration) 0s ease-out, visibility 0s var(--fade-duration);
}
/* tablet */
@media screen and (min-width: 1181px) {
  .top-nav-mobile {
    display: none;
  }
}
.top-nav-mobile--open {
  /* show transition */
  opacity: 1;
  visibility: visible;
  transition: opacity var(--fade-duration) 0s ease-out, visibility 0s 0s;
}
.top-nav-mobile__list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.top-nav-mobile__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px !important;
  padding: 10px 20px;
  border-color: rgba(0, 0, 0, 0) !important;
  color: var(--bra-green-dark);
  font-weight: 500;
  font-size: 22px;
}
.top-nav-mobile__list-item::before {
  position: absolute;
  right: 20px;
  bottom: -1px;
  left: 20px;
  height: 1px;
  border-radius: 1px;
  content: '';
  background-color: #E6EEEE;
}
.top-nav-mobile__list-arrow {
  width: 22px;
}
.top-nav-mobile__slidein {
  --fade-duration: 0.25s;
  translate: 100%;
  display: none;
  visibility: hidden;
  z-index: 1001;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;

  /* hide transition */
  height: 100%;
  height: calc(100vh - 70px);
  background-color: white;
  transition: translate var(--fade-duration) 0s ease-out, visibility 0s var(--fade-duration);
}
.top-nav-mobile--open .top-nav-mobile__slidein {
  display: block;
}
.top-nav-mobile__slidein--open {
  /* show transition */
  translate: 0;
  visibility: visible;
  transition: translate var(--fade-duration) 0s ease-out, visibility 0s 0s;
}
.top-nav-mobile__slidein-header {
  grid-template-columns: 110px auto 110px;
  display: grid;
  align-items: center;
  min-height: 58px;
  color: var(--bra-green-dark);
  background-color: var(--bra-green-light-25);
}
.top-nav-mobile__slidein-close {
  padding: 19px 15px 19px 5px;
  color: var(--bra-green-dark);
  font-weight: 400;
}
.top-nav-mobile__slidein-close-arrow {
  margin-right: 4px;
}
.top-nav-mobile__slidein-title {
  margin-bottom: 0;
  padding: 8px 0;
  color: inherit;
  font-size: 22px;
  text-align: center;
}
.top-nav-mobile__accordion {
  padding: 8px 20px;
}
.top-nav-mobile__accordion-button,
.top-nav-mobile__accordion-button:not(.collapsed) {
  border-bottom: 2px solid var(--bra-green-dark);
  font-size: 22px;
  background-color: white;
}
.top-nav-mobile__accordion-button:hover {
  background-color: var(--bra-green-light-25);
}
.top-nav-mobile__accordion-button:active {
  background-color: var(--bra-green-light-50);
}
.top-nav-mobile__accordion-button:focus {
  border-color: var(--bra-green-dark);
}
.top-nav-mobile__accordion .list-group-item {
  color: var(--bra-green);
}