/* Navigation accordion */
.accordion-button--navigation,
.accordion-button--navigation:not(.collapsed) {
  border-bottom: 2px solid var(--bra-green-dark);
  background-color: white;
}
.accordion-button--navigation:hover {
  background-color: var(--bra-green-light-25);
}
.accordion-button--navigation:active {
  background-color: var(--bra-green-light-50);
}
.accordion-button--navigation:focus {
  border-color: var(--bra-green-dark);
}