/* Navigation accordion */
.left-navigation-accordion-button,
.left-navigation-accordion-button:not(.collapsed) {
  border-bottom: 2px solid var(--bra-green-dark);
  background-color: white;
}
.left-navigation-accordion-button:hover {
  background-color: var(--bra-green-light-25);
}
.left-navigation-accordion-button:active {
  background-color: var(--bra-green-light-50);
}
.left-navigation-accordion-button:focus {
  border-color: var(--bra-green-dark);
}