/***********************************************/
/* Heroe (Content page)                        */
/***********************************************/

.bl-hero-content-page {
  height: 330px;
  background-color: var(--image-background);
  background-position: center center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: var(--grid-gap);
  align-items: flex-end;
  margin-bottom: 80px;
}
.bl-hero-content-page__title {
  background-color: var(--bra-green);
  color: var(--bra-green-light-50);
  margin-bottom: 0;
  padding: 13px 20px;
  font-size: 36px;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: span 7;
  height: fit-content;
  position: relative;
  margin-bottom: -30px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-hero-content-page {
    margin-left: calc(0px - var(--container-padding));
    margin-right: calc(0px - var(--container-padding));
  }
}

/***********************************************/
/* Heroe (Landing page)                        */
/***********************************************/
.bl-hero-landing-page {
  display: grid;
  grid-template-columns: 384px 1fr;
  align-items: flex-start;
  margin-bottom: 60px;
}
.bl-hero-landing-page__image {
  grid-area: 1 / 1 / 1 / span 2;
  margin-top: 34px;
  aspect-ratio: 1128 / 468;
  background-color: var(--image-background);
  object-fit: cover;
  min-height: 192px;
}
.bl-hero-landing-page__content {
  grid-area: 1 / 1 / 1 / 1;
  margin-left: 24px;
  padding: 55px 41px 65px 41px;
  background-color: var(--bra-green);
  color: white;
}
.bl-hero-landing-page__title {
  color: white;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-hero-landing-page {
    display: block;
    margin-left: calc(0px - var(--container-padding));
    margin-right: calc(0px - var(--container-padding));
  }
  .bl-hero-landing-page__image {
    margin-top: 0;
  }
  .bl-hero-landing-page__content {
    position: relative;
    z-index: 2;
    margin: -62px var(--container-padding) 0 var(--container-padding);
    padding: 38px 40px 42px 40px;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .bl-hero-landing-page__title {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .bl-hero-landing-page__text {
    font-size: 15px;
  }
}

/***********************************************/
/* Cards 3                                     */
/***********************************************/
.bl-cards-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--grid-gap);
  margin-bottom: 60px;
}
.bl-cards-3__card {
  --card-transition: all 0.25s ease-out;
  background-color: white;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  transition: var(--card-transition);
}
.bl-cards-3__card:hover,
.bl-cards-3__card:focus {
  color: var(--text-color);
  text-decoration: none;
}
.bl-cards-3__card:hover {
  translate: 0px -5px;
}
.bl-cards-3__image {
  aspect-ratio: 360 / 167;
  background-color: var(--image-background);
  background-size: cover;
  background-position: center center;
}
.bl-cards-3__main {
  padding: 24px 28px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.bl-cards-3__title {
  margin-bottom: 10px;
}
.bl-cards-3__text {
  margin-bottom: 25px;
  text-align: left;
}
.bl-cards-3__link {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
/* desktop 9 columns */
@media screen and (max-width: 1178px) {
  .bl-cards-3__title {
    font-size: 22px;
  }
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-cards-3 {
    display: block;
  }
  .bl-cards-3__card {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
  .bl-cards-3__card:hover {
    translate: 0;
  }
  .bl-cards-3__image {
    aspect-ratio: unset;
    width: 31%;
    min-height: 140px;
    max-height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .bl-cards-3__main {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 13px 17px 22px 17px;
  }
  .bl-cards-3__title {
    font-size: 18px;
    text-align: left;
  }
  .bl-cards-3__text {
    margin-bottom: 0;
  }
  .bl-cards-3__link {
    display: none;
  }
}

/***********************************************/
/* Highlight with cloud bg                     */
/***********************************************/
.bl-highlight-cloud {
  background-color: var(--bra-green-light-50);
  color: var(--bra-green-dark);
  margin-bottom: 60px;
  position: relative;
  font-size: 15px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background-image: url(/assets/images/highlight-with-clouds-bg.jpg);
  background-size: cover;
  background-position: center center;
}
.bl-highlight-cloud__image {
  width: 37%;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: var(--image-background);
  background-position: center center;
  background-size: cover;
}
.bl-highlight-cloud__main {
  padding: 28px 48px;
}
.bl-highlight-cloud__title {
  color: inherit;
  margin-bottom: 22px;
}
.bl-highlight-cloud__text {
  margin-bottom: 16px;
}
.bl-highlight-cloud__link {
  margin-left: -8px;
}
/* mobile */
@media screen and (max-width: 576px) {
  .bl-highlight-cloud {
    display: block;
  }
  .bl-highlight-cloud__image {
    width: 100%;
    height: auto;
    aspect-ratio: 365 / 134;
  }
  .bl-highlight-cloud__main {
    padding-inline: 22px;
  }
}

/***********************************************/
/* Links 3 columns - content block             */
/***********************************************/
.bl-links-3-columns__title {
  text-align: center;
  margin-bottom: 30px;
}
.bl-links-3-columns__text {
  margin-bottom: 30px;
}
.bl-links-3-columns__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--grid-gap);
  margin-bottom: 60px;
}
.bl-links-3-columns__link {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px #0000000a, 0px 1px 6px 0px #00000005;
  padding: 14px 20px;
  text-align: left;
}
.bl-links-3-columns__arrow {
  width: 24px;
  margin-left: 6px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-links-3-columns__links {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .bl-links-3-columns__links {
    display: block;
  }
  .bl-links-3-columns__link {
    margin-bottom: 10px;
  }
}