/***********************************************/
/* General styles                              */
/***********************************************/

html {
  font-size: 16px;
  overflow-y: auto;
  height: 100%;
}
body {
  background-color: #ffffff;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-spacing: normal;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
strong, em {
  font-weight: 500;
}
a {
  color: var(--bra-green);
  text-decoration: underline;
  transition: var(--button-transition);
}
/* on hover, select */
a:hover,
a:focus {
  color: var(--bra-orange);
  text-decoration: underline;
}
/* on press */
a:active {
  opacity: 0.8;
}
hr {
  height: 0;
  margin: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--bra-beige);
  opacity: 1;
}
/* define focus style only for keyboard */
*:focus-visible {
  outline: 2px solid var(--bra-orange);
  outline-offset: 2px;
}
ol, ul {
  padding-left: 0;
  margin-bottom: 0;
}
ul li {
  margin-left: 1.1em;
}
img, svg {
  max-width: 100%;
  vertical-align: initial;
}
icon {
  /* icon color is changed by setting backgroud color to currentColor and using SVG as background mask */
  display: inline-block;
  width: 1.1em;
  aspect-ratio: 1;
  vertical-align: middle;
  background-color: currentColor;
  --svg: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"></svg>');
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
block {
  display: block;
}


/***********************************************/
/* Body styles                                 */
/***********************************************/
.body--charter {
  background-color: #F7F4F0;
}
.body--b2b {
  background-color: #F4F4F4;
}


/***********************************************/
/* Page Layouts                                */
/***********************************************/

/* Content page layout */
.content-page-layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
  padding-top: 50px;
}
.content-page-layout__left {
  grid-column: span 3;
}
.content-page-layout__right {
  grid-column: span 9;
}
@media screen and (max-width: 1178px) {
  .content-page-layout {
    display: block;
  }
  .content-page-layout__left {
    display: none;
  }
  .content-page-layout__right {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* tablet */
@media screen and (max-width: 872px) {
  .content-page-layout {
    padding-top: 0;
  }
}


/***********************************************/
/* Components                                  */
/***********************************************/

/* Left navigation accordion */
.left-navigation-accordion-button,
.left-navigation-accordion-button:not(.collapsed) {
  border-bottom: 2px solid var(--bra-green-dark);
  background-color: transparent;
}
.left-navigation-accordion-button:hover {
  background-color: var(--bra-green-light-25);
}
.left-navigation-accordion-button:active {
  background-color: var(--bra-green-light-50);
}
.left-navigation-accordion-button:focus {
  border-color: var(--bra-green-dark);
}



/* Footer */
.app-footer {
  margin-top: auto;
  background-color: var(--bra-beige-light);
}
.app-footer .container {
  padding-top: 34px;
  padding-bottom: 29px;
}
.app-footer__columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--grid-gap);
}
.app-footer__title {
  border-bottom: 2px solid var(--bra-green-dark);
  padding-bottom: 6px;
  margin-bottom: 12px;
}
.app-footer__links {
  margin-top: 26px;
  padding-top: 26px;
  border-top: 1px solid var(--bra-beige);
  font-size: 15px;
  display: flex;
  justify-content: center;
  row-gap: 10px;
  column-gap: 50px;
  flex-wrap: wrap;
}
/* tablet */
@media screen and (max-width: 1181px) {
  .app-footer__columns {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .app-footer__columns {
    grid-template-columns: repeat(2, 1fr);
  }
  .app-footer__links {
    flex-direction: column;
    align-items: center;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0 0 6px 0;
  color: #333333;
  margin-bottom: 22px;
}
.landing-page-content .breadcrumbs {
  margin-bottom: 35px;
}
.breadcrumbs a {
  text-decoration: none;
}
.breadcrumbs__separator {
  margin-left: 8px;
  margin-right: 8px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .breadcrumbs {
    --padding-x: 26px;
    font-size: 13px;
    color: white;
    background: #317470;
    padding: 8px 8px 8px var(--padding-x);
    margin-left: calc(0px - var(--padding-x));
    margin-right: calc(0px - var(--padding-x));
    margin-bottom: 0;
  }
  .breadcrumbs a {
    color: var(--bra-green-light);
  }
  .breadcrumbs a:hover {
    color: var(--bra-orange);
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .breadcrumbs {
    --padding-x: 21px;
  }
}