/***********************************************/
/* General styles                              */
/***********************************************/

html {
  font-size: 16px;
  overflow-y: auto;
  height: 100%;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-spacing: normal;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
strong, em {
  font-weight: 500;
}
a {
  color: var(--bra-green);
  text-decoration: underline;
  transition: var(--button-transition);
}
/* on hover, select */
a:hover,
a:focus {
  color: var(--bra-orange);
  text-decoration: underline;
}
/* on press */
a:active {
  opacity: 0.8;
}
hr {
  height: 0;
  margin: 0;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--bra-beige);
  opacity: 1;
}
/* define focus style only for keyboard */
*:focus-visible {
  outline: 2px solid var(--bra-green);
  outline-offset: 2px;
}
p {
  margin-bottom: 1em;
  text-wrap: pretty;
}
ol, ul {
  padding-left: 0;
  margin-bottom: 0;
}
li {
  margin-left: 1.1em;
}
img, svg {
  max-width: 100%;
  vertical-align: initial;
}
/* icons */
.icon {
  fill: currentColor;
  width: 1em;
  aspect-ratio: 1;
  vertical-align: -5%;
}


/***********************************************/
/* Container                                     */
/***********************************************/
.container {
  max-width: 1180px;
  padding: 0 var(--container-padding);
}




/***********************************************/
/* Layouts with left navigation                 */
/***********************************************/
.layout-with-left-navigation {
  width: 100%;
  max-width: 1180px;
  padding: 50px 26px 0 26px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
  margin-inline: auto;
}
.layout-with-left-navigation__left {
  grid-column: span 3;
}
.layout-with-left-navigation__right {
  grid-column: span 9;
}
/* desktop 9 columns */
@media screen and (max-width: 1178px) {
  .layout-with-left-navigation {
    display: block;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  .layout-with-left-navigation__left {
    display: none;
  }
  .layout-with-left-navigation__right {
    width: 100%;
    max-width: 892px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 26px;
    padding-right: 26px;
  }
}
/* tablet */
@media screen and (max-width: 872px) {
  .layout-with-left-navigation {
    padding-top: 0;
  }
  .layout-with-left-navigation__right {
    padding-left: 0;
    padding-right: 0;
  }
}


/* Left navigation container */
.layout-with-left-navigation .container {
  max-width: 700px;
}


/* Left navigation accordion */
.left-navigation-accordion-button,
.left-navigation-accordion-button:not(.collapsed) {
  border-bottom: 2px solid var(--bra-green-dark);
  background-color: transparent;
}
.left-navigation-accordion-button:hover {
  background-color: var(--bra-green-light-25);
}
.left-navigation-accordion-button:active {
  background-color: var(--bra-green-light-50);
}
.left-navigation-accordion-button:focus {
  border-color: var(--bra-green-dark);
}


/***********************************************/
/* Breadcrumbs                                 */
/***********************************************/
.breadcrumbs {
  margin-bottom: 6px;
}
.breadcrumbs a {
  text-decoration: none;
}
.breadcrumbs__separator {
  margin-inline: 8px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .breadcrumbs {
    max-width: none !important;
    width: 100%;
    margin-bottom: 0;
    padding: 9px 18px !important;
    color: white;
    font-size: 13px;
    background: linear-gradient(to bottom, #14605c 0%, #2e706c 10px);
  }
  .breadcrumbs a {
    color: var(--bra-green-light);
  }
  .breadcrumbs a:hover {
    color: var(--bra-orange);
  }
  .breadcrumbs__separator {
    margin-inline: 4px;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .breadcrumbs {
    padding: 9px 15px !important;
  }
}



/***********************************************/
/* Footer                                      */
/***********************************************/
.app-footer {
  margin-top: auto;
  background-color: var(--bra-beige-light);
}
.app-footer .container {
  padding-top: 34px;
  padding-bottom: 29px;
}
.app-footer__columns {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--grid-gap);
}
.app-footer__title {
  border-bottom: 2px solid var(--bra-green-dark);
  padding-bottom: 6px;
  margin-bottom: 12px;
}
.app-footer__links {
  margin-top: 26px;
  padding-top: 26px;
  border-top: 1px solid var(--bra-beige);
  font-size: 15px;
  display: flex;
  justify-content: center;
  row-gap: 10px;
  column-gap: 50px;
  flex-wrap: wrap;
}
/* tablet */
@media screen and (max-width: 1181px) {
  .app-footer__columns {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .app-footer__columns {
    grid-template-columns: repeat(2, 1fr);
  }
  .app-footer__links {
    flex-direction: column;
    align-items: center;
  }
}
