:root {
  --bra-green-dark: var(--bra-grey);
}

body {
  filter: grayscale(100%);
}
.app-header {
  pointer-events: none;
}
.top-nav,
.top-nav__button--lang,
.hamburger {
  display: none;
}
.app-footer {
  pointer-events: none;
}
.app-footer__columns {
  color: #595959;
}