
/***********************************************/
/* Variables                                   */
/***********************************************/

:root {
  /* typography */
  --font-family: 'CalibreWeb', sans-serif;
  --font-size: 18px;

  /* colors */
  --text-color: #333333;
  --background-color: #fffcfa;
  --image-background-color: #f3f1f1;

  /* BRA colors */
  --bra-green: #057F65;
  --bra-green-dark: #00524E;
  --bra-green-light: #99CDA7;
  --bra-green-light-50: #D3E8D5;
  --bra-green-light-25: #ECF6EE;
  --bra-beige: #E6DED3;
  --bra-beige-light: #F5F2ED;
  --bra-orange: #EC671C;
  --bra-grey: #333333;
  --bra-grey-light: #999999;
  --bra-grey-light-20: #EBEBEB;
  --bra-grey-interactive: #595959;

  /* border radius */
  --border-radius: 2px;
  --border-radius-card: 4px;

  /* shadows */
  --box-shadow: 0px 2px 4px 0px #0000000a, 0px 1px 6px 0px #00000005;

  /* transitions */
  --button-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --card-transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  
  /* container */
  --container-padding: 26px;

  /* grid */
  --grid-gap: 24px;

  /* spacing */
  --blocks-spacing: 60px;
}
/* tablet */
@media screen and (max-width: 872px) {
  :root {
    /* grid */
    --grid-gap: 20px;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  :root {
    /* border radius */
    --border-radius-card: 6px;

    /* container */
    --container-padding: 15px;

    /* grid */
    --grid-gap: 14px;
    
    /* spacing */
    --blocks-spacing: 48px;
  }
}
