/**************************************************/
/* B2B USP (Unique Selling Point) - content block */
/**************************************************/
.bl-b2b-usp {
  background-color: var(--bra-green);
  color: white;
  display: flex;
  gap: 13px;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  font-size: 15px;
  margin-bottom: var(--blocks-spacing);
  padding: 25px 25px;
  border-radius: var(--border-radius-card);
}
.bl-b2b-usp__item {
  display: flex;
  gap: 6px;
  align-items: center;
  flex: 1;
  justify-content: center;
}
.bl-b2b-usp__icon {
  width: 32px;
  height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 4px;
}
.bl-b2b-usp__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-wrap: balance;
}
.bl-b2b-usp__text p {
  margin-bottom: 0;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-b2b-usp__container {
    display: flex;
  }
  .bl-b2b-usp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: transparent;
    color: var(--bra-green-dark);
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .bl-b2b-usp__item {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  .bl-b2b-usp__icon {
    width: 40px;
    height: 40px;
  }
}