/***********************************************/
/* B2B Product Features - content block        */
/***********************************************/
.bl-b2b-product-featues {
  margin-bottom: var(--blocks-spacing);
  display: grid;
  grid-template-columns: 456fr 668fr;
  grid-gap: 4px;
}
.bl-b2b-product-featues__data-card {
  background-color: white;
  padding: 40px 46px;
}
.bl-b2b-product-featues table {
  width: 100%;
  border-collapse: collapse;
}
.bl-b2b-product-featues tr {
  border-bottom: 1px solid #EBEBEB;
}
.bl-b2b-product-featues td {
  padding: 10px 0;
}
.bl-b2b-product-featues td:nth-child(1) {
  padding-right: 8px;
}
.bl-b2b-product-featues td:nth-child(2) {
  padding-left: 8px;
  font-weight: 500;
}
.bl-b2b-product-featues__gallery {
  background-color: var(--image-background-color);
}
.bl-b2b-product-featues__big-image-button,
.bl-b2b-product-featues__small-image-button {
  border: none;
  padding: 0;
}
.bl-b2b-product-featues__big-image-button {
  width: 100%;
  background-color: var(--image-background-color);
  display: block;
  margin-bottom: 2px;
  object-fit: cover;
}
.bl-b2b-product-featues__big-image {
  display: block;
  width: 100%;
  height: 386px;
  object-fit: cover;
}
.bl-b2b-product-featues__small-images {
  display: flex;
  width: 100%;
  gap: 2px;
}
.bl-b2b-product-featues__small-image-button {
}
.bl-b2b-product-featues__small-image {
  display: block;
  flex-shrink: 1;
  min-width:0;
  height: 100%;
  object-fit: cover;
}


/* modal */
.bl-b2b-product-featues .modal-body {
  --bs-modal-padding: 0;
}
/* Desktop Carousel */
.bl-b2b-product-featues__modal .f-carousel {
  --f-thumb-width: 192px;
  --f-thumb-height: 144px;
  --f-button-width: 56px;
  --f-button-height: 56px;
  --f-button-svg-width: 32px;
  --f-button-svg-height: 32px;
  --f-button-svg-stroke-width: 3px;
  --f-button-color: white;
  --f-button-border-radius: 50%;
  --f-button-shadow: none;
  --f-button-bg: var(--bra-green-dark);
  --f-button-hover-color: white;
  --f-button-hover-bg: var(--bra-green);
  --f-button-active-color: white;
  --f-button-active-bg: var(--bra-green);
  --f-button-prev-pos: -29px;
  --f-button-next-pos: -29px;
}
.bl-b2b-product-featues__modal .f-carousel__slide {
  display: flex;
  justify-content: center;
  background-color: var(--image-background-color);
}
.bl-b2b-product-featues__modal .f-carousel__slide img {
  max-height: calc(100vh - 232px);
}
.bl-b2b-product-featues__modal .f-thumbs.is-horizontal .f-thumbs__track {
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: flex-start;
}
.bl-b2b-product-featues__carousel-mobile {
  display: none;
}
/* desktop 9 columns */
@media screen and (max-width: 1178px) {
  .bl-b2b-product-featues__data-card {
    margin-inline: calc(-1 * var(--container-padding));
  }
  .bl-b2b-product-featues {
    display: block;
  }
  .bl-b2b-product-featues__gallery {
    display: none;
  }
  /* Mobile Carousel */
  .bl-b2b-product-featues__carousel-mobile {
    --f-carousel-dot-color: var(--bra-green-dark);
    --f-carousel-dot-width: 9px;
    --f-carousel-dot-height: 9px;
    --f-carousel-dots-width: 14px;

    display: block;
    margin-inline: calc(-1 * var(--container-padding));
  }
  .bl-b2b-product-featues__carousel-mobile .f-carousel__slide {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--image-background-color);
  }
  .bl-b2b-product-featues__carousel-mobile .f-carousel__slide img {
    max-height: calc(100vh - 30px);
  }
}