/***********************************************/
/* B2B Product Hero - content block            */
/***********************************************/
.bl-b2b-product-hero {
  margin-bottom: 130px;
  position: relative;
  padding-top: 17px;
}
.bl-b2b-product-hero::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
  background-image: url(../../images/b2b-product-hero-bg.jpg);
  background-size: cover;
  background-position: center top;
  --gradient: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%,  rgba(0, 0, 0, 0) 100%);
  mask-image: var(--gradient);
  -webkit-mask-image: var(--gradient);
}
.bl-b2b-product-hero .breadcrumbs {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
.bl-b2b-product-hero__container {
  position: relative;
  z-index: 1;
  text-align: center;
}
.bl-b2b-product-hero__title {
  margin-bottom: 40px;
}
.bl-b2b-product-hero__text {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}
.bl-b2b-product-hero__text p {
  text-wrap: balance;
}
.bl-b2b-product-hero__image {
  width: 100%;
  max-width: 670px;
  margin-top: -15px;
  margin-bottom: 25px;
}
.bl-b2b-product-hero__buttons {
  display: flex;
  gap: var(--grid-gap);
  justify-content: center;
  flex-wrap: wrap;
}
.bl-b2b-product-hero__button {
  width: 240px;
  padding-inline: 20px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-b2b-product-hero {
    padding-top: 0;
    margin-bottom: 80px;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
}