/***********************************************/
/* Cards with image and button - content block */
/* Variant: Columns = 2 | 3                    */
/***********************************************/
.bl-cards-with-image-and-button {
  margin-bottom: var(--blocks-spacing);
}
.bl-cards-with-image-and-button__title {
  margin-bottom: 36px;
}
.bl-cards-with-image-and-button__cards  {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(2, 1fr);
}
.bl-cards-with-image-and-button__link {
  gap: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: var(--border-radius-card);
  overflow: hidden;
  text-align: left;
  background-color: white;
  box-shadow: var(--box-shadow);
}
.bl-cards-with-image-and-button__image {
  aspect-ratio: 552 / 271;
  object-fit: cover;
  object-position: center;
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px;
}
.bl-cards-with-image-and-button__main {
  gap: 6px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 19px 20px;
}
.bl-cards-with-image-and-button__arrow {
  flex-shrink: 0;
  width: 24px;
}
/* Variant: 3 columns */
.bl-cards-with-image-and-button--columns-3 .bl-cards-with-image-and-button__cards {
  grid-template-columns: repeat(3, 1fr);
}
.bl-cards-with-image-and-button--columns-3 .bl-cards-with-image-and-button__image {
  aspect-ratio: 360 / 189;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-cards-with-image-and-button--columns-3 .bl-cards-with-image-and-button__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .bl-cards-with-image-and-button__cards  {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
  }
}