/***********************************************/
/* Certificates Cards - content block          */
/***********************************************/
.bl-certificates-cards {
  margin-bottom: 100px;
}
.bl-certificates-cards__title {
  margin-bottom: 22px;
  text-align: center;
}
.bl-certificates-cards__cards {
  /* display: flex; */
  /* gap: var(--grid-gap); */
  /* grid-template-columns: repeat(auto-fill, minmax(max(100px, 200px), 1fr)); */
  justify-content: center;
  flex-wrap: wrap;
  /* grid-auto-flow: column; */
  text-align: left;
  text-wrap: balance;
  display: flex;
  width: auto;
  justify-content: flex-start;
  margin-inline: auto;
}
.bl-certificates-cards__card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  border: 1px solid #D9D9D9;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  color: inherit;
  text-decoration: none;
  justify-content: space-between;
  text-align: center;
  --margin: calc(var(--grid-gap) / 2 - 2px);
  width: calc(25% - var(--margin) * 2 - 4px);
  margin: var(--margin);
}
.bl-certificates-cards__card:hover,
.bl-certificates-cards__card:focus {
  color: inherit;
  text-decoration: none;
  background-color: color-mix(in oklab, var(--bra-green-dark) 10%, transparent);
}
.bl-certificates-cards__image {
  display: block;
  width: auto;
  height: 40px;
}
.bl-certificates-cards__name {
  margin-bottom: 10px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-certificates-cards__cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .bl-certificates-cards__name {
    margin-bottom: 0px;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .bl-certificates-cards__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}