.bl-charter-3-cards {
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin-bottom: var(--blocks-spacing);
}
.bl-charter-3-cards__card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-card);
  overflow: hidden;
  color: var(--text-color);
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  box-shadow: var(--box-shadow);
  transition: var(--button-transition);
}
.bl-charter-3-cards__card:hover,
.bl-charter-3-cards__card:focus {
  color: var(--text-color);
  text-decoration: none;
}
.bl-charter-3-cards__image {
  aspect-ratio: 360 / 167;
  background-color: var(--image-background-color);
  background-position: center center;
  background-size: cover;
}
.bl-charter-3-cards__main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 24px 28px;
}
.bl-charter-3-cards__title {
  margin-bottom: 10px;
}
.bl-charter-3-cards__text {
  margin-bottom: 25px;
  text-align: left;
}
.bl-charter-3-cards__btn {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 32px;
}
.bl-charter-3-cards__card:hover .bl-charter-3-cards__btn,
.bl-charter-3-cards__card:focus .bl-charter-3-cards__btn {
  background-color: var(--bs-btn-hover-bg);
}
/* desktop 9 columns */
@media screen and (max-width: 1178px) {
  .bl-charter-3-cards__title {
    font-size: 22px;
  }
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-charter-3-cards {
    display: block;
  }
  .bl-charter-3-cards__card {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
  .bl-charter-3-cards__image {
    aspect-ratio: unset;
    flex-grow: 0;
    flex-shrink: 0;
    width: 31%;
    min-height: 140px;
    max-height: 100%;
  }
  .bl-charter-3-cards__main {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 13px 17px 22px 17px;
  }
  .bl-charter-3-cards__title {
    font-size: 18px;
    text-align: left;
  }
  .bl-charter-3-cards__text {
    margin-bottom: 0;
  }
  .bl-charter-3-cards__btn {
    display: none;
  }
}