/**************************************************/
/* Partner logos - content block                  */
/**************************************************/
.bl-partner-logos {
  background-color: white;
  padding: 34px 0 40px 0;
}
.bl-partner-logos__title {
  margin-bottom: 23px;
  color: var(--bra-green-dark);
  font-size: 16px;
  text-align: center;
}
.bl-partner-logos__logos {
  text-wrap: balance;
  line-height: 60px;
  text-align: center;
  margin-inline: -32px;
}
.bl-partner-logos__logo {
  height: 23px;
  margin: 0 32px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-partner-logos {
    padding: 45px 0 45px 0;
  }
  .bl-partner-logos__logos {
    line-height: 75px;
  }
  .bl-partner-logos__logo {
    height: 18px;
    margin: 0 20px;
  }
}