/**************************************************/
/* Partner logos - content block                  */
/**************************************************/
.bl-partner-logos {
  margin-bottom: var(--blocks-spacing);
  background-color: white;
  padding: 84px 0 75px 0;
}
.bl-partner-logos__title {
  margin-bottom: 30px;
  text-align: center;
}
.bl-partner-logos__logos {
  text-wrap: balance;
  line-height: 100px;
  text-align: center;
}
.bl-partner-logos__logo {
  height: 28px;
  margin: 0 39px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-partner-logos {
    padding: 45px 0 45px 0;
  }
  .bl-partner-logos__logos {
    line-height: 75px;
  }
  .bl-partner-logos__logo {
    height: 18px;
    margin: 0 20px;
  }
}