/***********************************************/
/* Team Cards - content block                  */
/***********************************************/
.bl-team-cards {
  margin-bottom: var(--blocks-spacing);
}
.bl-team-cards__title {
  margin-bottom: 30px;
}
.bl-team-cards__cards {
  display: grid;
  grid-gap: 43px var(--grid-gap);
  grid-template-columns: repeat(3, 1fr);
}
.bl-team-cards__card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  border: 1px solid #D9D9D9;
}
.bl-team-cards__image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 327 / 247;
  object-fit: cover;
  object-position: center;
  background-color: var(--image-background-color);
  border-radius: var(--border-radius-card);
  margin-bottom: 20px;
}
.bl-team-cards__name {
  margin-bottom: 7px;
}
.bl-team-cards__position {
  font-size: 15px;
  margin-bottom: 27px;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-team-cards__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .bl-team-cards__cards {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
  }
}