.bl-teaser-with-cloud {
  display: flex;
  position: relative;
  margin-bottom: var(--blocks-spacing);
  border-radius: var(--border-radius-card);
  overflow: hidden;
  color: var(--bra-green-dark);
  font-size: 15px;
  background-color: var(--bra-green-light-50);
  background-image: url(/assets/images/teaser-with-cloud-bg.jpg);
  background-position: center center;
  background-size: cover;
  box-shadow: var(--box-shadow);
}
.bl-teaser-with-cloud__image {
  flex-grow: 1;
  flex-shrink: 0;
  width: 37%;
  background-color: var(--image-background-color);
  background-position: center center;
  background-size: cover;
}
.bl-teaser-with-cloud__main {
  padding: 28px 48px;
}
.bl-teaser-with-cloud__title {
  margin-bottom: 22px;
  color: inherit;
}
.bl-teaser-with-cloud__text {
  margin-bottom: 16px;
}
.bl-teaser-with-cloud__link {
  margin-left: -8px;
}
/* layout with left navigation */
@container (max-width: 841px) {
  .bl-teaser-with-cloud__main {
    padding: 25px 25px 15px 25px;
  }
  .bl-teaser-with-cloud__title {
    margin-bottom: 12px;
  }
}
/* mobile */
@container (max-width: 576px) {
  .bl-teaser-with-cloud {
    display: block;
  }
  .bl-teaser-with-cloud__image {
    aspect-ratio: 365 / 134;
    width: 100%;
    height: auto;
  }
  .bl-teaser-with-cloud__main {
    padding-inline: 22px;
  }
}