/**************************************************/
/* Text and image - content block                 */
/* Variant: Title size = [Large | Small]          */
/* Variant: Image align = [Left | Right]          */
/**************************************************/
.bl-text-and-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: var(--blocks-spacing);
}
.bl-text-and-image--align-right {
  direction: rtl;
}
.bl-text-and-image__image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 558/464;
  object-fit: cover;
}
.bl-text-and-image__title--large {
  font-size: 36px;
  margin-bottom: 24px;
}
.bl-text-and-image__col-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: ltr;
  justify-content: center;
  padding-left: 35px;
}
.bl-text-and-image--align-right .bl-text-and-image__col-text {
  padding-left: 0px;
  padding-right: 35px;
}
.bl-text-and-image__text:last-child {
  margin-bottom: -1.3em;
}
/* tablet */
@media screen and (max-width: 872px) {
  .bl-text-and-image {
    display: block;
    direction: ltr;
  }
  .bl-text-and-image__col-image {
    margin-bottom: 36px;
  }
  .bl-text-and-image__col-text {
    padding-right: 0;
    padding-left: 0;
  }
  .bl-text-and-image__title {
    font-size: 28px;
    margin-bottom: 36px;
  }
  .bl-text-and-image__text {
    margin-bottom: 28px;
  }
  .bl-text-and-image__btn {
    width: 100%;
  }
}
/* mobile */
@media screen and (max-width: 576px) {
  .bl-text-and-image {
    padding: 0;
  }
  .bl-text-and-image__col-text {
    padding-inline: var(--container-padding) !important;
  }
}